{% extends "recipes/layout.html" %}

{% block body %}
    <h2 style= "margin-top: 5rem ;">Recipes</h2>

    <ul style="list-style-type:none;">
        {% for listing in listings %} 
            <div style="border: 1px solid lightgray; margin: 50px; padding: 20px; border-radius: 10px;">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width:40px;">
                                <img src="{{ listing.image_url }}" style="width:80%;"/>
                            </td>
                            <td style="width: 60%;"  valign="top">
                                <h5><a href="{% url 'listing' listing.id %}" >{{ listing.title }}</a></h5>
                                <!-- <div>Category: {{ category }}</div> -->
                                <div>Posted by: {{ listing.user }}</div>
                                <div>Preperation time: {{ listing.prep_time }}</div>
                                <div>Cooking time: {{ listing.cook_time }}</div>
                                <div>{{ listing.description }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        {% empty %}
            <li>No active listings</li>

        {% endfor %}
    </ul>

{% endblock %}